<section>
    {{#each marks}}
    <tr>
        <td>{{fullName person}}</td>
        <td>{{jobTitle}}</td>
        <td><a href="https://twitter.com/{{twitter}}">@{{twitter}}</a></td>
    </tr>
    {{/marks}}
</section>

<!-- Todo: Need to implement this -->

        <script id="some-template" type="text/x-handlebars-template">
        <table>
          <thead>
            <th>Username</th>
            <th>Real Name</th>
            <th>Email</th>
          </thead>
          <tbody>
            {{#users}}
              <tr>
                <td>{{username}}</td>
                <td>{{firstName}} {{lastName}}</td>
                <td>{{email}}</td>
              </tr>
            {{/users}}
          </tbody>
        </table>
      </script>
